body{
  margin: 0;
  font-family: 'Open Sans'
}

/* Fonts */
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url(./assets/fonts/OpenSans-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url(./assets/fonts/OpenSans-Bold.ttf) format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url(./assets/fonts/OpenSans-ExtraBold.ttf) format('truetype');
  font-weight: 800;
}

/* Basic styles */
.column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* App Styles */
.app{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

/* Onboarding Styles */
.onboarding-step-one{
  /* border: 1px solid red; */
  /* width: 400px;
  height: 400px; */

}

.onboarding-logo{
  margin-bottom: 62px;
  width: 400px;
}

.onboarding-step-two{
  /* border: 1px solid red; */
  border-radius: 20px;
  width: 700px;
  height: 600px;
  background-color: white;
  animation: animationIn .5s forwards;
}

@keyframes animationIn {
  0%{
    transform: translateY(-3000px);
  }
  60%{
    transform: translateY(25px);
  }
  75%{
    transform: translateY(-10px);
  }
  90%{
    transform: translateY(5px);
  }
}

.onboarding-title{
  width: 382px;
  font-size: 45px;
  color: #0E2E1F;
  font-weight: 800;
  margin: 0 0 90px 0;
  text-align: center;
}

.onboarding-text{
  width: 484px;
  font-size: 28px;
  font-weight: 700;
  color: #64B28E;
  margin: 0 0 20px 0;
  text-align: center;
}

.onboarding-text.score{
  margin: 20px 0;
}

.onboarding-top{
  /* border: 1px solid red; */
  height: 430px
}

.onboarding-bottom{
  /* border: 1px solid red; */
  height: 130px;
}

.onboarding-circles{
  /* border: 1px solid red; */
  width: 30px;
  margin: 0 0 20px 0;
  justify-content: space-between;
}

.circle{
  width: 10px;
  height: 10px;
  border: 1px solid lightgray;
  border-radius: 100%;
  transition: .3s;
}

.circle.selected{
  border: 1px solid #FA8070;
  background-color: #FA8070;
}

/* Button Styles  */
.button{
  text-align: center;
  /* padding: .6em .8em .8em; */
  border: none;
  color: white;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: inset 0 -.2em rgba(0,0,0,.2);
  outline: 0;
  transition: .2s;
  will-change:transform;
  background: #FA8070;
}

.button:active{
  transform: scale(.9);
}

.button.big{
  font-size: 38px;
  font-weight: 800;
  letter-spacing: 4px;
  padding: 0px 70px 10px 70px;
  width: 500px;
  height: 80px;
}

.button.classic{
  font-size: 27px;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 0px 70px 6px 70px;
  width: 250px;
  height: 60px;
}
