body{
  margin: 0;
  font-family: 'Open Sans'
}

/* Fonts */
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url(./assets/fonts/OpenSans-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url(./assets/fonts/OpenSans-Bold.ttf) format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url(./assets/fonts/OpenSans-ExtraBold.ttf) format('truetype');
  font-weight: 800;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./assets/fonts/Montserrat-Medium.ttf) format('truetype');
}

/* Basic styles */
.column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* App Styles */
.app{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

/* Onboarding Styles */
.onboarding-step-one{
  /* border: 1px solid red; */
  /* width: 400px;
  height: 400px; */

}

.onboarding-logo{
  margin-bottom: 62px;
  width: 400px;
}

.box{
  width: 10px;
  height: 45px;
  position: absolute;
  left: 0;
  top: 80px;
  background-color: #FA8070;
}

.onboarding-step-two{
  /* border: 1px solid red; */
  border-radius: 20px;
  width: 650px;
  height: 600px;
  background-color: white;
  animation: animationIn .5s forwards;
}

@keyframes animationIn {
  0%{
    transform: translateY(-3000px);
  }
  60%{
    transform: translateY(25px);
  }
  75%{
    transform: translateY(-10px);
  }
  90%{
    transform: translateY(5px);
  }
}

.onboarding-title{
  width: 382px;
  font-size: 45px;
  color: #2A7D57;
  font-weight: 800;
  margin: 0 0 90px 0;
  text-align: center;
}

.onboarding-text{
  width: 484px;
  font-size: 28px;
  /* font-weight: 700; */
  color: #64B28E;
  margin: 0 0 20px 0;
  text-align: center;
  font-family: 'Montserrat';
}

.onboarding-text.score{
  margin: 20px 0;
}

.onboarding-text.long{
  width: 510px;
}

.onboarding-top-rtg{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
}

.onboarding-top{
  /* border: 1px solid red; */
  height: 430px;
  /* position: absolute; */
}

.three-enter {
  opacity: 0.01;
  transform: scale(0.9) translateX(50%);
}
.three-enter-active {
  opacity: 1;
  transform: scale(1) translateX(0%);
  transition: all 300ms ease-out;
}

.three-exit {
  opacity: 1;
  transform: scale(1) translateY(0%);
}
.three-exit-active {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
  transition: all 300ms ease-out;
}

.two-exit {
  opacity: 1;
  transform: scale(1) translateX(0%);
}
.two-exit-active {
  opacity: 0.01;
  transform: scale(0.9) translateX(-50%);
  transition: all 300ms ease-out;
}

.onboarding-bottom{
  /* border: 1px solid red; */
  height: 130px;
}

.onboarding-circles{
  /* border: 1px solid red; */
  width: 30px;
  margin: 0 0 20px 0;
  justify-content: space-between;
}

.circle{
  width: 10px;
  height: 10px;
  border: 1px solid lightgray;
  border-radius: 100%;
  transition: .3s;
}

.circle.selected{
  border: 1px solid #FA8070;
  background-color: #FA8070;
}

/* Game Styles */

.game-card{
  animation: animationIn .5s forwards;
  background: #fff;
  border-radius: 20px;
  width: 400px;
  height: 600px;
  margin: 20px 0;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.game-card-category{
  background-color: #FA8070;
  color: white;
  width: 400px;
  height: 50px;
  text-align: center;
  border-radius: 15px;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 32px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-card-category.long{
  font-size: 18px;
}

.game-card-step{
  text-align: center;
  color: #2A7D57;
  font-size: 32px;
  font-weight: 800;
  margin: 0;
}

.game-card-top{
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-card-mid{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-card-bottom{
  width: 100%;
  height: 30%;
}

.game-card-logo{
  width:200px;
}

.game-card-question{
  font-size: 22px;
  font-weight: 400;
  width: 300px;
  color: #64B28E;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error{
  color: red;
  font-size: 34px;
  font-weight: 800;
}

/* Results Styles */
.results{
  animation: animationIn .5s forwards;
  padding: 30px 0;
}

.results-emoji{
  width: 180px;
}

.results-score-text{
  font-size: 50px;
  font-weight: 800;
  color: #0B301C;
  margin: 0;
}

.results-score-text.score{
  color: white;
}

.results-questions{
  margin: 20px 0;
}

.results-question{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-size: 20px;
  padding: 10px 25px;
  width: 800px;
  height: 60px;
  border-radius: 15px;
  color: #707472;
  background-color: #B1AAAA;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Montserrat';
}

.results-question.match{
  color: #0B301C;
  background-color: #58FCB0;
}

/* Bouncing Loader Styles */
.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  background: #2A7D57;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}
.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}
.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bouncing-loader {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0.1;
    transform: translateY(-1rem);
  }
}


/* Button Styles  */
.button{
  text-align: center;
  /* padding: .6em .8em .8em; */
  border: none;
  color: white;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: inset 0 -.2em rgba(0,0,0,.2);
  outline: 0;
  transition: .2s;
  will-change:transform;
  background: #FA8070;
}

.button:active{
  transform: scale(.9);
}

.button.big{
  font-size: 38px;
  font-weight: 800;
  letter-spacing: 4px;
  padding: 0px 70px 10px 70px;
  width: 500px;
  height: 80px;
}

.button.classic{
  font-size: 27px;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 0px 70px 6px 70px;
  width: 250px;
  height: 60px;
}

.button.true{
  border-radius: 15px;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 32px;
  width: 300px;
  height: 50px;
  background-color: #58FCB0;
  color: #2A7D57;
  padding: 3px 70px 10px 70px;
}

.button.false{
  border-radius: 15px;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 32px;
  width: 300px;
  height: 50px;
  background-color: #FA8070;
  padding: 3px 70px 10px 70px;
}
